[Unit]
Description=Mi Airpurifier server
After=network.target
After=remote-fs.target
After=nss-lookup.target
After=rsyslog.service
After=mosquitto.service
Requires=mosquitto.service

[Service]
User=root
Type=simple
PIDFile=/var/run/air_purifier.pid
WorkingDirectory=/home/pi/mi-air-purifier3/
ExecStart=/usr/bin/node ./index.js
Restart=always
RestartSec=500ms
StartLimitInterval=0
KillMode=process

[Install]
WantedBy=multi-user.target
